*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

body{
	background: #DCDCDC;	//color gris
}


.contenedor{
	margin: 50px auto;
	width: 400px;
}


.login {
    position: relative;
    margin: 200px auto;
    padding: 20px 20px 20px;
    width: 330px;
    /*border: 3px solid #008B8B;*/
    background: #B0C4DE;/*color azul del contenedor*/
    border-radius: 10px;
}



/*Cajas de texto*/
input[type=text], input[type=password] {
	margin: 0 0 1em 0;
	width: 300px;
	/*border: 5px;*/
	padding: 0.5em;
	/*border-radius: 3px 3px 3px 3px;*/
	position: right;


}

/*Botones*/
input[type=submit]{
	padding: 7px;
	background: #F0FFFF;
	border: none;
	border-radius: 3px 3px 3px 3px;

}

/*color cuando el puntero está en el botón*/
input[type=submit]:hover{
	background:#434343;/*naranja*/
    color: white;
  	
}



label {
    display: inline-block;
    text-align: left;
    width: 12em;
    vertical-align: bottom;
    border-bottom: 1px dashed white;
    
}

/*Genera el cuadro del título del login*/
.login h2 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #8B4513;
    text-align: center;
    text-shadow: 0 1px white;
    background: #F5F5F5;
    border-radius: 3px 3px 0 0;
}

span{
    color: #E57F26;
}